* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainPage {
  background: #ffffff;
  border-radius: 22px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 111px;
}
.nav ul {
  list-style: none;
  display: flex;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.nav ul li a img {
  margin: 14px;
  width: 18px;
  height: 18px;
}
.nav ul li a.page {
  margin: 40px;
  color: #000000;
}

/* Datagrid */

.App {
  margin: 0 27px 31px 29px;
  background-color: 744bfc;
}

.dx-searchbox {
  background: #ffffff;
  border-radius: 39px;
  width: 380px;
  height: 42px;
}
.dx-searchbox .dx-icon-search {
  right: 1px;
  border-radius: 0 10px 10px 0;
  background-color: #744bfc;
}
.dx-searchbox .dx-texteditor-input,
.dx-searchbox .dx-placeholder:before {
  padding-left: 8px;
  padding-right: 68px;
}

.datagrid {
  padding: 60px;
  background: linear-gradient(
    180deg,
    #eff2ff -30.56%,
    rgba(232, 236, 255, 0) 135.85%
  );
  border-radius: 6px;
  margin: 0 29px;
}

.dx-button-content {
  background-color: #744bfc;
  width: 175px;
  height: 42px;
  border-radius: 39px;
  color: white;
}
.dx-datagrid-addrow-button .dx-icon-edit-button-addrow {
  color: white !important;
}
