* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainPage {
  background: #ffffff;
  border-radius: 22px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 111px;
}
.nav ul {
  list-style: none;
  display: flex;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.nav ul li a img {
  margin: 14px;
  width: 18px;
  height: 18px;
}
.nav ul li a.page {
  margin: 40px;
  color: #000000;
}
